<a href="https://colab.research.google.com/github/VitorFRodrigues/tecprog1_Vitor_Rodrigues/blob/main/AnaliseExploratoriaCombustivelBrasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Titulo - Analise exploratória de Combustível no Brasil

## 1. Introdução

AAAAA

## 2. Objetivos

AAA

## 3. Limpeza de dados

Importar os pacotes necessários
Dataset salvo no github... dar abrir o raw file e usar o link abaixo para conseguir acesso sem precisar ter o arquivo na máquina

In [632]:
url_gas_tsv = 'https://raw.githubusercontent.com/MoroniMenesses/tec_prog1_Moroni_Bora/main/2004-2021.tsv'

Importação das bibliotecas necessárias para o trabalho

In [633]:
import pandas as pd
import numpy as np

Lendo dataset...

In [634]:
dataset_gas=pd.read_csv(url_gas_tsv,sep='\t')
dataset_gas.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

Convertendo o para csv
Estamos exemplificando uma maneira de traduzir dataset para outro formato

In [635]:
dataset_gas.to_csv(r'/content/gas.csv')

Obtendo informações sobre o dataset:

In [636]:
dataset_gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

Muitas colunas estão como objeto... Provavelmente precisaremos converter...

In [637]:
dataset_gas.shape

(120823, 18)

O dataset possui XXX linhas e XX colunas...

In [638]:
dataset_gas.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA
count,120823.000000,120823.000000,120823.000000,120823.000000,120823.000000,120823.000000
mean,221.066461,11.473440,0.684132,9.977821,13.233902,0.045298
std,387.940239,19.161823,1.403317,16.433783,22.451445,0.024763
min,1.000000,0.766000,0.000000,0.590000,0.999000,0.000000
25%,39.000000,2.157000,0.075000,1.989000,2.420000,0.029000
50%,99.000000,2.899000,0.121000,2.690000,3.200000,0.041000
75%,226.000000,4.026000,0.204000,3.790000,4.589000,0.058000
max,4167.000000,107.500000,10.748000,100.000000,120.000000,0.395000

Describe com menos colunas pois ele só pega aquelas que tem formato do tipo int/float para fazer análise

In [639]:
dataset_gas.isna().sum()

DATA INICIAL                     0
DATA FINAL                       0
REGIÃO                           0
ESTADO                           0
PRODUTO                          0
NÚMERO DE POSTOS PESQUISADOS     0
UNIDADE DE MEDIDA                0
PREÇO MÉDIO REVENDA              0
DESVIO PADRÃO REVENDA            0
PREÇO MÍNIMO REVENDA             0
PREÇO MÁXIMO REVENDA             0
MARGEM MÉDIA REVENDA             0
COEF DE VARIAÇÃO REVENDA         0
PREÇO MÉDIO DISTRIBUIÇÃO         0
DESVIO PADRÃO DISTRIBUIÇÃO       0
PREÇO MÍNIMO DISTRIBUIÇÃO        0
PREÇO MÁXIMO DISTRIBUIÇÃO        0
COEF DE VARIAÇÃO DISTRIBUIÇÃO    0
dtype: int64

Analisamos se há colunas com valores NaN - *Not a Number* e não foi encontrado....

Roberto/Igor respeite os planilheiros

No dataset foi informado que

*NULL values are now replaces with '-99999.0'*

Vamos verificar se encontramos este valor em algum local

In [641]:
buscando_nulos = dataset_gas.isin(['-', '-99999.0'])
resultado = dataset_gas[buscando_nulos]
resultado.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Agora vamos somar os valores que NÃO são nulos

In [642]:
resultado.notna().sum()

DATA INICIAL                        0
DATA FINAL                          0
REGIÃO                              0
ESTADO                              0
PRODUTO                             0
NÚMERO DE POSTOS PESQUISADOS        0
UNIDADE DE MEDIDA                   0
PREÇO MÉDIO REVENDA                 0
DESVIO PADRÃO REVENDA               0
PREÇO MÍNIMO REVENDA                0
PREÇO MÁXIMO REVENDA                0
MARGEM MÉDIA REVENDA             8948
COEF DE VARIAÇÃO REVENDA            0
PREÇO MÉDIO DISTRIBUIÇÃO         8908
DESVIO PADRÃO DISTRIBUIÇÃO       8908
PREÇO MÍNIMO DISTRIBUIÇÃO        8908
PREÇO MÁXIMO DISTRIBUIÇÃO        8908
COEF DE VARIAÇÃO DISTRIBUIÇÃO    8908
dtype: int64

In [643]:
# Foi identificado que dataset possui item '-999999.0' e '-', os quais deverão ser dados como NULL
# Tentamos modifica-los usando o comando replace para 'None', no entanto, os valores acabaram recebendo o valor da linha anterior
# Não entendemos o motivo

# '-999999.0'
# dataset_gas.iloc[120764]

# '-'
# dataset_gas.iloc[1903]

# '-'
# dataset_gas.iloc[2497]

DATA INICIAL                           2006-02-26
DATA FINAL                             2006-03-04
REGIÃO                                      NORTE
ESTADO                                    RORAIMA
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                   11
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         2.182
DESVIO PADRÃO REVENDA                        0.04
PREÇO MÍNIMO REVENDA                          2.1
PREÇO MÁXIMO REVENDA                          2.2
MARGEM MÉDIA REVENDA                            -
COEF DE VARIAÇÃO REVENDA                    0.018
PREÇO MÉDIO DISTRIBUIÇÃO                        -
DESVIO PADRÃO DISTRIBUIÇÃO                      -
PREÇO MÍNIMO DISTRIBUIÇÃO                       -
PREÇO MÁXIMO DISTRIBUIÇÃO                       -
COEF DE VARIAÇÃO DISTRIBUIÇÃO                   -
Name: 2497, dtype: object

Encontramos! Vamos modificar estes dados para *Zero*, pois como explicado acima não foi possível alterar para *None*.

In [630]:
# mudar = {'-': None,
#          '-99999.0': None}

# for i in dataset_gas.columns:
#   dataset_gas[i] = dataset_gas[i].map(mudar)

In [646]:
dataset_gas = dataset_gas.replace('-' , np.nan)
dataset_gas = dataset_gas.replace('-99999.0' , np.nan)
dataset_gas.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [631]:
# Seguem abaixo as linhas modificadas

# '-999999.0'
# dataset_gas.iloc[120764]

# '-'
# dataset_gas.iloc[1903]

# '-999999.0'
# dataset_gas.iloc[120768, 15]

DATA INICIAL                      NaN
DATA FINAL                        NaN
REGIÃO                            NaN
ESTADO                            NaN
PRODUTO                           NaN
NÚMERO DE POSTOS PESQUISADOS      NaN
UNIDADE DE MEDIDA                 NaN
PREÇO MÉDIO REVENDA               NaN
DESVIO PADRÃO REVENDA             NaN
PREÇO MÍNIMO REVENDA              NaN
PREÇO MÁXIMO REVENDA              NaN
MARGEM MÉDIA REVENDA             None
COEF DE VARIAÇÃO REVENDA          NaN
PREÇO MÉDIO DISTRIBUIÇÃO         None
DESVIO PADRÃO DISTRIBUIÇÃO       None
PREÇO MÍNIMO DISTRIBUIÇÃO        None
PREÇO MÁXIMO DISTRIBUIÇÃO        None
COEF DE VARIAÇÃO DISTRIBUIÇÃO    None
Name: 120764, dtype: object

In [647]:
dataset_gas.iloc[120764]

DATA INICIAL                              2021-04-25
DATA FINAL                                2021-05-01
REGIÃO                                      NORDESTE
ESTADO                           RIO GRANDE DO NORTE
PRODUTO                                          GNV
NÚMERO DE POSTOS PESQUISADOS                       4
UNIDADE DE MEDIDA                              R$/m3
PREÇO MÉDIO REVENDA                             3.55
DESVIO PADRÃO REVENDA                          0.058
PREÇO MÍNIMO REVENDA                            3.49
PREÇO MÁXIMO REVENDA                           3.599
MARGEM MÉDIA REVENDA                           0.406
COEF DE VARIAÇÃO REVENDA                       0.016
PREÇO MÉDIO DISTRIBUIÇÃO                       3.052
DESVIO PADRÃO DISTRIBUIÇÃO                     0.065
PREÇO MÍNIMO DISTRIBUIÇÃO                     3.0135
PREÇO MÁXIMO DISTRIBUIÇÃO                     3.1808
COEF DE VARIAÇÃO DISTRIBUIÇÃO                  0.021
Name: 120764, dtype: object

In [648]:
dataset_gas.iloc[1903]

DATA INICIAL                           2005-09-25
DATA FINAL                             2005-10-01
REGIÃO                                      NORTE
ESTADO                                       PARA
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                    2
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.694
DESVIO PADRÃO REVENDA                       0.283
PREÇO MÍNIMO REVENDA                         1.69
PREÇO MÁXIMO REVENDA                         2.09
MARGEM MÉDIA REVENDA                         0.34
COEF DE VARIAÇÃO REVENDA                    0.167
PREÇO MÉDIO DISTRIBUIÇÃO                    1.403
DESVIO PADRÃO DISTRIBUIÇÃO                  0.061
PREÇO MÍNIMO DISTRIBUIÇÃO                  1.2064
PREÇO MÁXIMO DISTRIBUIÇÃO                  1.5715
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.043
Name: 1903, dtype: object

Vamos fazer um novo data info para checar se os valores que deveriam ser float estão realmente.

In [585]:
dataset_gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

Vimos que as colunas:

        -'MARGEM MÉDIA REVENDA',
        -'PREÇO MÉDIO DISTRIBUIÇÃO',
        -'DESVIO PADRÃO DISTRIBUIÇÃO', 
        -'PREÇO MÍNIMO DISTRIBUIÇÃO',
        -'PREÇO MÁXIMO DISTRIBUIÇÃO', 
        -'COEF DE VARIAÇÃO DISTRIBUIÇÃO',

Ainda estão como object, vamos força-las para float

In [586]:
cols = ['MARGEM MÉDIA REVENDA',
        'PREÇO MÉDIO DISTRIBUIÇÃO',
        'DESVIO PADRÃO DISTRIBUIÇÃO', 
        'PREÇO MÍNIMO DISTRIBUIÇÃO',
        'PREÇO MÁXIMO DISTRIBUIÇÃO', 
        'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
]
for i in cols:
  dataset_gas[i]=dataset_gas[i].astype(float)

Vamos testar data info novamente:

In [587]:
dataset_gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  float64
dtypes: float64(11), int64(1), object(6)
memory usage: 16.6+ MB

Maravilha! Temos nosso dataset com formato ok

Visto que este dataset mostra uma série temporal, não há sentido em haver linhas iguais.

Verificar se na linha inteira desse dataframe tem duplicatas

In [588]:
dataset_gas.duplicated().sum()

0

Verificado

Vamos criar colunas no dataframe separando dia, mes, ano número da semana  para análises futuras.

Definindo as funções necessárias:

*Split_data*: pega o valor da coluna de datas e separa em uma lista [ano, mes dia]

*extrair_lista*: cria listas com ano, mes e dia separadamente para uso futuro

In [589]:
def split_data(coluna,caracter_separador):
  lista_split=coluna.str.split(caracter_separador)
  return(lista_split)

def extrair_lista(lista,indice):
  lista_construida=[]
  for i in range(0,len(lista)):
    lista_construida.append(int(lista[i][indice]))
  return lista_construida

Aplicando as funções acima e em variáveis de armazenamento

In [590]:
separados_dias_anos_inicial=split_data(dataset_gas['DATA INICIAL'],'-')

separados_dias_anos_final=split_data(dataset_gas['DATA FINAL'],'-')

separados_dias_anos_final

0         [2004, 05, 15]
1         [2004, 05, 15]
2         [2004, 05, 15]
3         [2004, 05, 15]
4         [2004, 05, 15]
               ...
120818    [2021, 05, 01]
120819    [2021, 05, 01]
120820    [2021, 05, 01]
120821    [2021, 05, 01]
120822    [2021, 05, 01]
Name: DATA FINAL, Length: 120823, dtype: object

In [591]:
anos_inicial=extrair_lista(separados_dias_anos_inicial,0)
meses_inicial=extrair_lista(separados_dias_anos_inicial,1)
dias_inicial=extrair_lista(separados_dias_anos_inicial,2)
anos_final=extrair_lista(separados_dias_anos_final,0)
meses_final=extrair_lista(separados_dias_anos_final,1)
dias_final=extrair_lista(separados_dias_anos_final,2)

Colocar as listas no dataframe

In [592]:
# dataset_gas['DIA INICIAL']=dias_inicial
# dataset_gas['MES INICIAL']=meses_inicial
# dataset_gas['ANO INICIAL']=anos_inicial
# dataset_gas['DIA FINAL']=dias_final
# dataset_gas['MES FINAL']=meses_final
# dataset_gas['ANO FINAL']=anos_final

Entretando, existe um caminho mais simples, utilizando a função .to_datetime do próprio pandas:

In [593]:
dataset_gas['DIA INICIAL']=pd.to_datetime(dataset_gas['DATA INICIAL'], errors ='coerce').dt.day
dataset_gas['MES INICIAL']=pd.to_datetime(dataset_gas['DATA INICIAL'], errors ='coerce').dt.month
dataset_gas['ANO INICIAL']=pd.to_datetime(dataset_gas['DATA INICIAL'], errors ='coerce').dt.year
dataset_gas['SEMANA INICIAL']=pd.to_datetime(dataset_gas['DATA INICIAL'], errors ='coerce').dt.week

dataset_gas['DIA FINAL']=pd.to_datetime(dataset_gas['DATA FINAL'], errors ='coerce').dt.day
dataset_gas['MES FINAL']=pd.to_datetime(dataset_gas['DATA FINAL'], errors ='coerce').dt.month
dataset_gas['ANO FINAL']=pd.to_datetime(dataset_gas['DATA FINAL'], errors ='coerce').dt.year
dataset_gas['SEMANA FINAL']=pd.to_datetime(dataset_gas['DATA FINAL'], errors ='coerce').dt.week

<ipython-input-593-569b679687f2>:4: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  dataset_gas['SEMANA INICIAL']=pd.to_datetime(dataset_gas['DATA INICIAL'], errors ='coerce').dt.week
<ipython-input-593-569b679687f2>:9: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  dataset_gas['SEMANA FINAL']=pd.to_datetime(dataset_gas['DATA FINAL'], errors ='coerce').dt.week

Vamos checar nosso df

In [594]:
dataset_gas.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,DIA INICIAL,MES INICIAL,ANO INICIAL,SEMANA INICIAL,DIA FINAL,MES FINAL,ANO FINAL,SEMANA FINAL
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.96660,0.133,9,5,2004,19,15,5,2004,20
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,1.05000,0.115,9,5,2004,19,15,5,2004,20
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,1.16100,0.098,9,5,2004,19,15,5,2004,20
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,1.22242,0.143,9,5,2004,19,15,5,2004,20
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,1.03170,0.082,9,5,2004,19,15,5,2004,20

Reordenando nossas colunas

In [595]:
dataset_gas.columns

Index(['DATA INICIAL', 'DATA FINAL', 'REGIÃO', 'ESTADO', 'PRODUTO',
       'NÚMERO DE POSTOS PESQUISADOS', 'UNIDADE DE MEDIDA',
       'PREÇO MÉDIO REVENDA', 'DESVIO PADRÃO REVENDA', 'PREÇO MÍNIMO REVENDA',
       'PREÇO MÁXIMO REVENDA', 'MARGEM MÉDIA REVENDA',
       'COEF DE VARIAÇÃO REVENDA', 'PREÇO MÉDIO DISTRIBUIÇÃO',
       'DESVIO PADRÃO DISTRIBUIÇÃO', 'PREÇO MÍNIMO DISTRIBUIÇÃO',
       'PREÇO MÁXIMO DISTRIBUIÇÃO', 'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
       'DIA INICIAL', 'MES INICIAL', 'ANO INICIAL', 'SEMANA INICIAL',
       'DIA FINAL', 'MES FINAL', 'ANO FINAL', 'SEMANA FINAL'],
      dtype='object')

In [596]:
cols = ['DATA INICIAL', 
        'DIA INICIAL', 
        'MES INICIAL', 
        'ANO INICIAL', 
        'SEMANA INICIAL',
        'DATA FINAL',
        'DIA FINAL', 
        'MES FINAL', 
        'ANO FINAL', 
        'SEMANA FINAL',
        'REGIÃO', 
        'ESTADO', 
        'PRODUTO',
        'NÚMERO DE POSTOS PESQUISADOS', 
        'UNIDADE DE MEDIDA',
        'PREÇO MÉDIO REVENDA', 
        'DESVIO PADRÃO REVENDA', 
        'PREÇO MÍNIMO REVENDA',
        'PREÇO MÁXIMO REVENDA', 
        'MARGEM MÉDIA REVENDA',
        'COEF DE VARIAÇÃO REVENDA', 
        'PREÇO MÉDIO DISTRIBUIÇÃO',
        'DESVIO PADRÃO DISTRIBUIÇÃO', 
        'PREÇO MÍNIMO DISTRIBUIÇÃO',
        'PREÇO MÁXIMO DISTRIBUIÇÃO', 
        'COEF DE VARIAÇÃO DISTRIBUIÇÃO',
]

dataset_gas = dataset_gas.reindex(columns=cols)

dataset_gas.head()

,DATA INICIAL,DIA INICIAL,MES INICIAL,ANO INICIAL,SEMANA INICIAL,DATA FINAL,DIA FINAL,MES FINAL,ANO FINAL,SEMANA FINAL,...,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.016,1.19,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.078,1.05,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082

Vamos agora analisar as colunas object restantes e busca de mais algum ponto de tratamento (nomes iguais, mesma categoria, abreviações, etc)

Analisando os valores únicos das colunas

- REGIÃO
- ESTADO
- PRODUTO
- UNIDADE DE MEDIDA

In [599]:
dataset_gas['REGIÃO'].unique()

array(['CENTRO OESTE', 'NORDESTE', 'NORTE', 'SUDESTE', 'SUL'],
      dtype=object)

In [616]:
dataset_gas['ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [601]:
dataset_gas['PRODUTO'].unique()

array(['ETANOL HIDRATADO', 'GASOLINA COMUM', 'GLP', 'GNV', 'ÓLEO DIESEL',
       'ÓLEO DIESEL S10', 'OLEO DIESEL', 'OLEO DIESEL S10',
       'GASOLINA ADITIVADA'], dtype=object)

In [602]:
dataset_gas['UNIDADE DE MEDIDA'].unique()

array(['R$/l', 'R$/13Kg', 'R$/m3'], dtype=object)

Analisando os valores únicos das colunas, vamos fazer as seguintes modificações:

- REGIÃO
  - Não há o que modificar
- ESTADO
  - Modificação para siglas
- PRODUTO
  - Padronização de palavras
- UNIDADE DE MEDIDA
  - Não há o que modificar

In [617]:
estado = {'DISTRITO FEDERAL': 'DF',
          'GOIAS': 'GO',
          'MATO GROSSO': 'MT',
          'MATO GROSSO DO SUL': 'MS',
          'ALAGOAS': 'AL',
          'BAHIA': 'BA',
          'CEARA': 'CE',
          'MARANHAO': 'MA',
          'PARAIBA': 'PB',
          'PERNAMBUCO': 'PE',
          'PIAUI': 'PI',
          'RIO GRANDE DO NORTE': 'RN',
          'SERGIPE': 'SE',
          'ACRE': 'AC',
          'AMAPA': 'AP',
          'AMAZONAS': 'AM',
          'PARA': 'PA',
          'RONDONIA': 'RO',
          'RORAIMA': 'RR',
          'TOCANTINS': 'TO',
          'ESPIRITO SANTO': 'ES',
          'MINAS GERAIS': 'MG',
          'RIO DE JANEIRO': 'RJ',
          'SAO PAULO': 'SP',
          'PARANA': 'PR',
          'RIO GRANDE DO SUL': 'RS',
          'SANTA CATARINA': 'SC'
}
dataset_gas['ESTADO'] = dataset_gas['ESTADO'].map(estado)

In [618]:
dataset_gas = dataset_gas.replace('ÓLEO DIESEL' , 'OLEO DIESEL')
dataset_gas = dataset_gas.replace('ÓLEO DIESEL S10' , 'OLEO DIESEL S10')
dataset_gas['PRODUTO'].unique()

array(['ETANOL HIDRATADO', 'GASOLINA COMUM', 'GLP', 'GNV', 'OLEO DIESEL',
       'OLEO DIESEL S10', 'GASOLINA ADITIVADA'], dtype=object)

## 4.0 ANÁLISE EXPLORATÓRIA

In [604]:
selected_rows = dataset_gas[dataset_gas['UNIDADE DE MEDIDA'] == 'R$/m3']
selected_rows.head()

,DATA INICIAL,DIA INICIAL,MES INICIAL,ANO INICIAL,SEMANA INICIAL,DATA FINAL,DIA FINAL,MES FINAL,ANO FINAL,SEMANA FINAL,...,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
36196,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.000,1.099,1.099,0.257,0.000,0.842,0.011,0.8347,0.8546,0.013
36197,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.000,1.084,1.084,0.295,0.000,0.789,0.000,0.7888,0.7888,0.000
36198,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.000,1.079,1.079,0.374,0.000,0.705,0.136,0.4214,0.8031,0.193
36199,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.001,1.180,1.184,0.354,0.001,0.830,0.096,0.6811,0.9982,0.116
36200,2004-05-09,9,5,2004,19,2004-05-15,15,5,2004,20,...,0.000,1.149,1.149,0.357,0.000,0.792,0.098,0.6827,0.9071,0.124