<a href="https://colab.research.google.com/github/VitorFRodrigues/tecprog1_Vitor_Rodrigues/blob/main/AnaliseExploratoriaCombustivelBrasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Titulo - Analise exploratória de Combustível no Brasil

## 1. Introdução

AAAAA

## 2. Objetivos

AAA

## 3. Limpeza de dados

Importar os pacotes necessários
Dataset salvo no github... dar abrir o raw file e usar o link abaixo para conseguir acesso sem precisar ter o arquivo na máquina

In [1]:
url_gas_tsv = 'https://raw.githubusercontent.com/MoroniMenesses/tec_prog1_Moroni_Bora/main/2004-2021.tsv'

Importação das bibliotecas necessárias para o trabalho

In [2]:
import pandas as pd
import numpy as np

Lendo dataset...

In [3]:
dataset_gas=pd.read_csv(url_gas_tsv,sep='\t')
dataset_gas.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

Convertendo o para csv
Estamos exemplificando uma maneira de traduzir dataset para outro formato

In [4]:
dataset_gas.to_csv(r'/content/gas.csv')

Obtendo informações sobre o dataset:

In [5]:
dataset_gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

Muitas colunas estão como objeto... Provavelmente precisaremos converter...

In [8]:
dataset_gas.shape

(120823, 18)

O dataset possui XXX linhas e XX colunas...

In [6]:
dataset_gas.describe()

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA
count,120823.000000,120823.000000,120823.000000,120823.000000,120823.000000,120823.000000
mean,221.066461,11.473440,0.684132,9.977821,13.233902,0.045298
std,387.940239,19.161823,1.403317,16.433783,22.451445,0.024763
min,1.000000,0.766000,0.000000,0.590000,0.999000,0.000000
25%,39.000000,2.157000,0.075000,1.989000,2.420000,0.029000
50%,99.000000,2.899000,0.121000,2.690000,3.200000,0.041000
75%,226.000000,4.026000,0.204000,3.790000,4.589000,0.058000
max,4167.000000,107.500000,10.748000,100.000000,120.000000,0.395000

Describe com menos colunas pois ele só pega aquelas que tem formato do tipo int/float para fazer análise

In [10]:
dataset_gas.isna().sum()

DATA INICIAL                     0
DATA FINAL                       0
REGIÃO                           0
ESTADO                           0
PRODUTO                          0
NÚMERO DE POSTOS PESQUISADOS     0
UNIDADE DE MEDIDA                0
PREÇO MÉDIO REVENDA              0
DESVIO PADRÃO REVENDA            0
PREÇO MÍNIMO REVENDA             0
PREÇO MÁXIMO REVENDA             0
MARGEM MÉDIA REVENDA             0
COEF DE VARIAÇÃO REVENDA         0
PREÇO MÉDIO DISTRIBUIÇÃO         0
DESVIO PADRÃO DISTRIBUIÇÃO       0
PREÇO MÍNIMO DISTRIBUIÇÃO        0
PREÇO MÁXIMO DISTRIBUIÇÃO        0
COEF DE VARIAÇÃO DISTRIBUIÇÃO    0
dtype: int64

Analisamos se há colunas com valores NaN - *Not a Number* e não foi encontrado....

Roberto/Igor respeite os planilheiros

No dataset foi informado que

*NULL values are now replaces with -99999*

Vamos verificar se encontramos este valor em algum local

In [20]:
buscando_nulos = dataset_gas.isin([-99999])
resultado = dataset_gas[buscando_nulos]
resultado.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Agora vamos somar os valores que NÃO são nulos

In [23]:
resultado.notna().sum()

DATA INICIAL                     0
DATA FINAL                       0
REGIÃO                           0
ESTADO                           0
PRODUTO                          0
NÚMERO DE POSTOS PESQUISADOS     0
UNIDADE DE MEDIDA                0
PREÇO MÉDIO REVENDA              0
DESVIO PADRÃO REVENDA            0
PREÇO MÍNIMO REVENDA             0
PREÇO MÁXIMO REVENDA             0
MARGEM MÉDIA REVENDA             0
COEF DE VARIAÇÃO REVENDA         0
PREÇO MÉDIO DISTRIBUIÇÃO         0
DESVIO PADRÃO DISTRIBUIÇÃO       0
PREÇO MÍNIMO DISTRIBUIÇÃO        0
PREÇO MÁXIMO DISTRIBUIÇÃO        0
COEF DE VARIAÇÃO DISTRIBUIÇÃO    0
dtype: int64

Concluímos que não há valores nulos neste dataset

Visto que este dataset mostra uma série temporal, não há sentido em haver linhas iguais.

Verificar se na linha inteira desse dataframe tem duplicatas

In [31]:
dataset_gas.duplicated().sum()

0

Verificado

Dataframe com as datas separadas (para podermos lidar melhor com series temporais)

Definir as funções necessárias:

In [32]:
def split_data(coluna,caracter_separador):
  lista_split=coluna.str.split(caracter_separador)
  return(lista_split)

def extrair_lista(lista,indice):
  lista_construida=[]
  for i in range(0,len(lista)):
    lista_construida.append(lista[i][indice])
  return lista_construida

Separar os dias meses e anos em listas

In [43]:
separados_dias_anos_inicial=split_data(dataset_gas['DATA INICIAL'],'-')

separados_dias_anos_final=split_data(dataset_gas['DATA FINAL'],'-')

separados_dias_anos_final

0         [2004, 05, 15]
1         [2004, 05, 15]
2         [2004, 05, 15]
3         [2004, 05, 15]
4         [2004, 05, 15]
               ...
120818    [2021, 05, 01]
120819    [2021, 05, 01]
120820    [2021, 05, 01]
120821    [2021, 05, 01]
120822    [2021, 05, 01]
Name: DATA FINAL, Length: 120823, dtype: object

Colocar essas listas no dataframe de forma a substituir

Transformar as listas em numpy para ser mais fácil de trabalhar

Criar as listas para serem colocadas no dataframe dataset_gas2

In [44]:
anos_inicial=extrair_lista(separados_dias_anos_inicial,0)
meses_inicial=extrair_lista(separados_dias_anos_inicial,1)
dias_inicial=extrair_lista(separados_dias_anos_inicial,2)
anos_final=extrair_lista(separados_dias_anos_final,0)
meses_final=extrair_lista(separados_dias_anos_final,1)
dias_final=extrair_lista(separados_dias_anos_final,2)

Colocar essas colunas no dataframe

In [ ]:
dataset_gas2['DIA INICIAL']=dias_inicial
dataset_gas2['MES INICIAL']=meses_inicial
dataset_gas2['ANO INICIAL']=anos_inicial
dataset_gas2['DIA FINAL']=dias_final
dataset_gas2['MES FINAL']=meses_final
dataset_gas2['ANO FINAL']=anos_final

Ver se deu tudo certo

In [ ]:
dataset_gas2

,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,...,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,DIA INICIAL,MESES INICIAL,ANOS INICIAL,DIA FINAL,MES FINAL,ANO FINAL
0,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,...,0.11,0.4201,0.9666,0.133,09,05,2004,15,05,2004
1,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,...,0.088,0.5013,1.05,0.115,09,05,2004,15,05,2004
2,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,...,0.095,0.5614,1.161,0.098,09,05,2004,15,05,2004
3,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,...,0.119,0.5991,1.22242,0.143,09,05,2004,15,05,2004
4,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,...,0.077,0.7441,1.0317,0.082,09,05,2004,15,05,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,25,04,2021,01,05,2021
120819,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,25,04,2021,01,05,2021
120820,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,25,04,2021,01,05,2021
120821,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,25,04,2021,01,05,2021
120822,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,...,-99999.0,-99999.0,-99999.0,-99999.0,25,04,2021,01,05,2021

In [ ]:
dataset_gas2[['DIA INICIAL','MES INICIAL','ANO INICIAL','DIA FINAL','MES FINAL','ANO FINAL']]=dataset_gas2[['DIA INICIAL','MES INICIAL','ANO INICIAL','DIA FINAL','MES FINAL','ANO FINAL']].astype(int)

In [ ]:
dataset_gas2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   REGIÃO                         120823 non-null  object
 1   ESTADO                         120823 non-null  object
 2   PRODUTO                        120823 non-null  object
 3   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 4   UNIDADE DE MEDIDA              120823 non-null  object
 5   PREÇO MÉDIO REVENDA            120823 non-null  float64
 6   DESVIO PADRÃO REVENDA          120823 non-null  float64
 7   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 8   PREÇO MÁXIMO REVENDA           120823 non-null  float64
 9   MARGEM MÉDIA REVENDA           120823 non-null  object
 10  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 11  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 12  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 13  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 14  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 15  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
 16  DIA INICIAL                    120823 non-null  int64
 17  DIA FINAL                      120823 non-null  int64
 18  MES FINAL                      120823 non-null  int64
 19  ANO FINAL                      120823 non-null  int64
 20  MES INICIAL                    120823 non-null  int64
 21  ANO INICIAL                    120823 non-null  int64
dtypes: float64(5), int64(7), object(10)
memory usage: 20.3+ MB

In [ ]:
dataset_gas2.drop(columns=['MESES INICIAL','ANOS INICIAL'],inplace=True)